{% extends 'base.html.twig' %}

{% block title %}Yoshop - Panier{% endblock %}

{% block stylesheet %}
<style>
.cart-img-produit {
  height: 40px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
{% endblock %}

{% block body %}
<div class="card col-md-12">
  <div class="card-header">
    <h1>
      <i class="fas fa-shopping-cart"></i> TODO 3 Produit(s) :
      <b>TODO 1,81€</b>
    </h1>
    <div class="col-md-12 btn-group btn-group-lg" role="group">
      <a class="btn btn-primary" href="{{ path('boutique') }}">
        Continuer les Courses
      </a>
      <a class="btn btn-primary" href="/mi5/fr/panier/commander">
        Passer la Commande
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Produit</th>
            <th class="text-right">Prix</th>
            <th>Quantite</th>
            <th class="text-right">Total</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
        {% for article in panier %}
          <tr>
            <td>
              <img
                src="/images/articles/{{ article.visuel }}"
                class="cart-img-produit"
                alt="{{ article.libelle }}"
              />
            </td>
            <td>
              <a href="{{ path('category.show', {id: article.idCategory.id} )}}">
                <b>{{ article.libelle }}</b>
              </a>
            </td>
            <td class="text-right">{{ article.prix }}</td>
            <td>
              <a href="{{ path('cart.remove', {id: article.id}) }}">
                <i class="fas fa-minus-square text-muted"></i>
              </a>
              1
              <a href="{{ path('cart.add', {id: article.id}) }}">
                <i class="fas fa-plus-square text-muted"></i>
              </a>
            </td>
            <td class="text-right">{{ article.prix * 2 }}</td>
            <td>
              <a href="{{ path('cart.delete', {id: article.id}) }}">
                <i
                  class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Supprimer {{ article.libelle }}"
                ></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="text-right" colspan="4">Total</th>
            <th class="text-right">1,81&nbsp;€</th>
            <th>
              <a href="{{ path('cart.empty') }}">
                <i
                  class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Vider le Panier"
                ></i>
              </a>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

