{% extends 'base.html.twig' %}

{% block title %}Yoshop - Panier{% endblock %}

{% block stylesheet %}
<style>
.cart-img-produit {
  height: 40px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
{% endblock %}

{% block body %}
<div class="card col-md-12">
  <div class="card-header">
    <h1>
    <i class="fas fa-shopping-cart"></i>
    {% if produits > 0 %}
          {{produits}} Produit(s) :
      <b>{{ price|currency_convert|format_currency(devise())}}</b>
      </a>
          {% else %}
          Pannier vide !
      </a>
          {% endif %}
      
    </h1>
    <div class="col-md-12 btn-group btn-group-lg" role="group">
      <a class="btn btn-primary" href="{{ path('boutique') }}">
        Continuer les Courses
      </a>
      {% if app.user %}
         <a class="btn btn-primary" href="{{ path('cart.order') }}">
        Passer la Commande
      </a>
          {% else %}
          <a class="btn btn-secondary" href="{{ path('cart.order') }}">
        Connectez-vous afin de passer votre commande
      </a>
          {% endif %}
      
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Produit</th>
            <th class="text-right">Prix</th>
            <th>Quantite</th>
            <th class="text-right">Total</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
        {% for article in panier %}
          <tr>
            <td>
              <img
                src="/images/articles/{{ article["produit"].visuel }}"
                class="cart-img-produit"
                alt="{{ article["produit"].libelle }}"
              />
            </td>
            <td>
              <a href="{{ path('category.show', {id: article["produit"].idCategory.id} )}}">
                <b>{{ article["produit"].libelle }}</b>
              </a>
            </td>
            <td class="text-right">{{ (article["produit"].prix)|currency_convert|format_currency(devise()) }}</td>
            <td>
              <a href="{{ path('cart.remove', {id: article["produit"].id}) }}">
                <i class="fas fa-minus-square text-muted"></i>
              </a>
              {{article["quantite"]}}
              <a href="{{ path('cart.add', {id: article["produit"].id}) }}">
                <i class="fas fa-plus-square text-muted"></i>
              </a>
            </td>
            <td class="text-right">{{ (article["produit"].prix * article["quantite"])|currency_convert|format_currency(devise()) }}</td>
            <td>
              <a href="{{ path('cart.delete', {id: article["produit"].id}) }}">
                <i
                  class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Supprimer {{ article["produit"].libelle }}"
                ></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="text-right" colspan="4">Total</th>
            <th class="text-right">{{ (price)|currency_convert|format_currency(devise()) }}</th>
            <th>
              <a href="{{ path('cart.empty') }}">
                <i
                  class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Vider le Panier"
                ></i>
              </a>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

