<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Yoshop{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap-reboot.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap-grid.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/fontawsome-5.all.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/projet.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "_partials/_navbar.html.twig" %}
<div class="row container-fluid  main-div">
    <div class="col-md-10">

        {% block body %}{% endblock %}
    </div>
    <div class="col-md-2">
        {% include "_partials/_top-products.html.twig" %}
    </div>
</div>

<script src="{{ asset('js/jquery-3/jquery.slim.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-4/bootstrap.bundle.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
